<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupProject"

        tools:targetApi="31">
        <service
            android:name=".demos.BGServiceExampleService"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".demos.BGServiceExample"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExampleNightMode"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExample5"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExample4"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExample3"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExample2"
            android:exported="false" />
        <activity
            android:name=".codepage.CodePage"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExample1"
            android:exported="false" />
        <activity
            android:name=".catviewer.CatViewMain"
            android:exported="false" />
        <activity
            android:name=".searchbar.SearchBarMain"
            android:exported="false" />
        <activity
            android:name=".CategoriesPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>