<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupProject"
        tools:targetApi="31">
        <activity
            android:name=".demos.GoSystemSettingsExample"
            android:exported="false" />
        <activity
            android:name=".demos.ProgressBarWidget"
            android:exported="false" />
        <activity
            android:name=".demos.RequestPermissionExample"
            android:exported="false" />
        <activity
            android:name=".demos.TimePickerDialogExample"
            android:exported="false" />
        <activity
            android:name=".demos.PopupWindowExample"
            android:exported="false" />
        <activity
            android:name=".demos.BottomSheetDialogExample"
            android:exported="false" />
        <activity
            android:name=".demos.ProgressDialogExample"
            android:exported="false" />
        <activity
            android:name=".demos.RadioGroupWidget"
            android:exported="false" />
        <activity
            android:name=".demos.SwitchWidget"
            android:exported="false" />
        <activity
            android:name=".demos.ButtonWidget"
            android:exported="false" />
        <activity
            android:name=".demos.FGServiceExample"
            android:exported="false" />

        <service
            android:name=".demos.FGServiceExampleService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".demos.BoundServiceExample"
            android:exported="false" />

        <service
            android:name=".demos.BoundServiceExampleService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".demos.BGServiceExampleService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".demos.BGServiceExample"
            android:exported="false" />
        <activity
            android:name=".demos.NavigationExample"
            android:exported="false" />
        <activity
            android:name=".demos.AttributeAnimationsExample"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExampleNightMode"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExampleLoadingEffect"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExampleProgressBarLoadingEffect"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExampleFancyLoadingEffect"
            android:exported="false" />

        <activity
            android:name=".demos.AnimationsExample"
            android:exported="false" />
        <activity
            android:name=".demos.FrameAnimationsExample"
            android:exported="false" />
        <activity
            android:name=".demos.EffectExampleRippleEffect"
            android:exported="false" />
        <activity
            android:name=".demos.DatePickerDialogExample"
            android:exported="false" />
        <activity
            android:name=".demos.AlertDialogExample"
            android:exported="false" />
        <activity
            android:name=".codepage.CodePage"
            android:exported="false" />
        <activity
            android:name=".catviewer.CatViewMain"
            android:exported="false" />
        <activity
            android:name=".searchbar.SearchBarMain"
            android:exported="false" />
        <activity
            android:name=".CategoriesPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>